.popup__close-icon{
    margin-bottom: 8px;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    background-color:rgba(0, 0,0, 0);
    background-image: url(../../../images/Close-Icon.svg);
    background-size: contain;
    border: none;
    transform: translateX(231px);
}
@media screen and (max-width:600px){
    .popup__close-icon{
        margin-left: 0;
        margin-bottom: 16px;
        width: 20px;
        height: 20px;
        transform: translateX(131px);
    }
}
.popup__close-icon:hover{
    opacity: 0.6;
}